version: '3.9'

services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - ./prod.env
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    image: <ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/blog-backend:latest
    restart: always
    depends_on:
      - db
    env_file:
      - ./prod.env
    environment:
      PORT: 4000
      DB_HOST: db
      DB_PORT: 5432
    ports:
      - '4000:4000'

  frontend:
    image: <ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/blog-frontend:latest
    restart: always
    depends_on:
      - backend
    env_file:
      - ./prod.env
    environment:
      VITE_API_URL: ${VITE_API_URL:-http://localhost:4000}
    ports:
      - '80:3000'

volumes:
  db_data:
